.titulos {
    text-align: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(21, 255, 0);
    background-color: rgb(247, 42, 42);
    max-width: 1000px;
    height: 80px;
    margin: auto;

    
}
