.conta{
    background: #bdc3c7;  
    max-width: 380px;
    height: 85px;
    margin:auto;
    text-align: center;
    margin-top: 3rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.facebook{
    padding-left: 320x;
}